@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

body {
  font-size: 18px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  width: 100vw;
}

#map { 
  height: 60%;
  width: 100vw;
  z-index: 0;
  flex: 1 1 auto;
}

header {
  background-image: linear-gradient(45deg, rgba(129, 166, 201, 0.162), rgba(71, 56, 171, 0.222)), url(./pattern-bg.png);
  background-size: 2000px;
  height: 280px;
  text-align: center;
  position: relative;
  z-index: 1;
  flex: 0 1 auto;
}

h1 {
  padding: 30px;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}

form {
  position: relative;
  height: 50px;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
}

input {
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
}

input:focus {
  outline: 0;
}

input::placeholder {
  font-size: 1rem;
}

input[type=text] {
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--very-dark-gray);
}

#btn-search {
  position: absolute;
  height: 100%;
  right: 0px;
  border: 0;
  border-radius: 0 15px 15px 0;
  background-color: black;
  width: 50px;
  transition: 100ms;
}

#btn-search:hover {
  background-color: rgb(53, 53, 53);
}

#btn-search:active {
  background-color: white;
}

#result-container {
  margin: 20px auto;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 90%;
  max-width: 550px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
}

.section-header {
  font-size: 0.5rem;
  font-weight: 700;
  color: var(--dark-gray);
  letter-spacing: 2px;
}

.section-result {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 5px;
  color: var(--very-dark-gray);
}

.result-section {
  padding: 10px;
}

.break {
  border: 0;
  border-top: 1px solid rgba(170, 170, 170, 0.117);
  width: 80%;
  margin: 0 auto;
  height: 1px;
}

@media screen and (min-width: 965px) {
  #result-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 120px;
    text-align: left;
    max-width: 900px;
    margin-top: 40px;
  }

  #result-container {
    padding: 10px 30px;
  }

  .break {
    width: 1px;
    height: 80px !important;
    border: 0;
    border-left: 1px solid rgba(170, 170, 170, 0.117);
  }

  header {
    height: 240px;
  }
}
